// Defaults
// --------
//
$primary: #39b3c6;
$secondary: darken(#ff9f46, 10%);
$light: #f0f2f5;
$dark: darken($primary, 8%);

$enable-gradients: true;
$breadcrumb-divider: quote(">");

// -------- Navbar
$navbar-light-color: rgba(#000, 0.65);
$navbar-light-hover-color: rgba(#000, 0.8);
$navbar-light-active-color: $secondary;
$nav-pills-link-active-bg: $secondary;

// Bootstrap import
// --------
//
@import "node_modules/bootstrap/scss/bootstrap";

// Custom styles
// --------
//

.BootstrapTable-hover > tbody > tr.BootstrapTable-hover-row:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.faq-header {
    font-weight: bold;
    font-size: 1.5rem;
}

.faq-header:hover {
    cursor: pointer;
}

.faq-icon {
    color: #39b3c6;
}

.faq-header:hover .faq-icon {
    color: #ff8513;
}

.faq-home {
    font-weight: 500;
    font-size: 2rem;
}

.faq-home:hover {
    cursor: pointer;
    color: #d6761c;
}

.Toolbar-TutorialButton {
    background: white;
    color: #545556;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    font-weight: bold;
}

$break-iphone-x: 400px;
$break-iphone-se: 320px;

.text-white-80 {
    color: rgba(255, 255, 255, 0.8);
}

.text-white-65 {
    color: rgba(255, 255, 255, 0.65);
}

.text-black-30 {
    color: rgba(0, 0, 0, 0.3);
}

.text-black-65 {
    color: rgba(0, 0, 0, 0.65);
}

.code {
    background-color: lighten($light, 3%);
    border-left: 4px solid darken($light, 3%);

    padding: 1rem;
}

.activate-tooltip {
    // fix flickering of tooltip on mouseover
    cursor: default;
    > * {
        pointer-events: none;
    }
}

.navbar.navbar-light {
    img.bert {
        margin-right: 10px;
    }

    .navbar-brand {
        color: #000;
    }

    .nav-item {
        margin-left: 15px;

        &.nav-secondary {
            margin-left: 0;
        }

        &.separator {
            margin: 5px 15px;
            border-right: 1px solid darken(#fff, 25%);
        }
    }
}

.container {
    h1 {
        color: $dark;
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-size: 2.25rem;
    }

    h2 {
        color: $dark;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    h3 {
        color: $dark;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}

#Header {
    background-color: $primary;
    padding: 2rem 0;

    h1 {
        color: $white;
        margin: 0;

        line-height: 1;
    }

    h2 {
        margin: 1rem 0 0 0;
        color: $white;
        font-size: 1.5rem;
    }

    .breadcrumb-nav {
        nav {
            ol.breadcrumb {
                margin: 0;
                padding: 0;

                li a {
                    color: lighten($primary, 35%);
                }

                li::before {
                    color: lighten($primary, 20%);
                }
            }
        }
    }
}

.card {
    .card-title {
        .notice {
            float: right;
            font-size: 0.8rem;
            text-transform: uppercase;
            color: $gray-600;
            margin-top: 0.2rem;
        }
    }
}

// Sticky footer
html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 270px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 270px;

    padding-top: 2rem;
    background-color: $gray-100;
    border-top: 1px solid $gray-200;
    //box-shadow: inset 0 20px 20px -20px rgba(0,0,0,0.05);

    .logos {
        .r1,
        .r2 {
            display: inline-block;
            margin-top: 16px;
        }

        .r2 {
            @include media-breakpoint-down(sm) {
                & {
                    display: block;
                }
            }
        }

        img.logo {
            margin-right: 16px;

            &.logo-ukp {
                height: 36px;
            }
            &.logo-tud {
                height: 66px;
                margin: -13px 16px -13px 0;
            }
            &.logo-nyu {
                height: 30px;
            }
            &.logo-cambridge {
                height: 30px;
            }
            &.logo-deepmind {
                height: 32px;
                margin-top: -1px;
            }

            @include media-breakpoint-down(sm) {
                margin-right: 6px;

                &.logo-ukp {
                    height: 32px;
                }
                &.logo-tud {
                    height: 62px;
                    margin: -13px 6px -13px 0;
                }
                &.logo-nyu {
                    height: 28px;
                }
                &.logo-cambridge {
                    margin-top: 2px;
                    height: 28px;
                    margin-right: 24px;
                }
                &.logo-deepmind {
                    height: 32px;
                }
            }
        }
    }

    //img.logo {
    //  &:not(:last-child) {
    //    margin-right: 1rem;
    //  }
    //}
}

@include media-breakpoint-up(md) {
    body {
        margin-bottom: 177px;
    }

    footer {
        height: 177px;
    }
}

// --- Index

#Header {
    p.highlight-text {
        color: lighten($primary, 30%);
        font-size: 1.6rem;
        line-height: 2.2rem;

        .highlight {
            font-size: 2rem;
            text-transform: none;
            color: lighten($primary, 49%);
        }
    }

    #HeaderLogo {
        margin-top: -15px;

        @include media-breakpoint-down(md) {
            & {
                margin-top: 0;
            }
        }
    }

    pre {
        font-size: 0.8rem;
        border-left: 4px solid lighten($primary, 30%);
        background-color: lighten($primary, 5%);

        @include media-breakpoint-up(xl) {
            & {
                //font-size: 1rem;
                width: 618px;
            }
        }

        @include media-breakpoint-between(sm, md) {
            & {
                width: 494px;
            }
        }

        @media (min-width: $break-iphone-se) and (max-width: $break-iphone-x) {
            & {
                width: 340px;
            }
        }

        @media (min-width: 0) and (max-width: $break-iphone-se) {
            & {
                width: 280px;
            }
        }
    }

    .form-group {
        margin-bottom: 0;
    }

    .badge-light {
        font-size: 0.9rem;
        background-color: lighten($primary, 20%);
    }

    #IndexButtonRow {
        display: inline-block;
        margin-top: 1rem;

        border: 1px solid rgba(255, 255, 255, 0.4);

        a {
            width: 120px;

            @media (min-width: $break-iphone-se) and (max-width: $break-iphone-x) {
                & {
                    width: 110px;
                }
            }

            @media (min-width: 0) and (max-width: $break-iphone-se) {
                & {
                    width: 90px;
                }
            }

            > div {
                font-size: 1.3rem;
                opacity: 0.8;
            }

            //background-color: $secondary;
            //border: 1px solid $dark;
            //border: 1px solid rgba(255, 255, 255, 0.4);
            border: none;
            //background-color: $dark;
            color: #fff;

            &:hover {
                background-color: $dark;
            }
        }
    }
}

#Quickstart .btn-colab-headline {
    line-height: 2rem;
}

// --- Task/Languages/Adapters overview

#Header {
    #AdapterTypeNav {
    }

    #TypeToSearch {
        margin-top: 7px;

        background-color: lighten($primary, 10%);
        border: 1px solid lighten($primary, 20%);
        color: #fff;

        &:focus {
            border: 1px solid lighten($primary, 50%);
        }

        &::placeholder {
            color: #fff;
            // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
            opacity: 0.8;
        }
    }

    #ModelTypeNav {
        .dropdown {
            display: inline-block;
        }
    }

    .adapter-nav {
        .navigation {
            //padding-top: 3px;
            p {
                float: left;
                font-weight: bold;
                //color: rgba(255,255,255,0.8);
                color: $white;
                margin: 0.5rem 1rem 0 0;
            }

            .dropdown {
                a.dropdown-toggle,
                a.active {
                    background: $secondary;
                    border: 1px solid $secondary;
                    color: $white;
                }
            }

            .nav-item {
                margin-right: 4px;

                a.nav-link.active {
                    background-color: $secondary;
                    border: 1px solid $secondary;
                    color: $white;
                }

                a:not(.active) {
                    //background-color: rgba(255, 255, 255, 0.2);
                    //border: 1px solid rgba(255, 255, 255, 0.2);
                    //border: 1px solid $dark;
                    border: 1px solid rgba(255, 255, 255, 0.4);

                    color: $white;

                    &:hover {
                        background-color: $dark;
                    }
                }
            }
        }

        .documentation {
            //padding-top: 12px;

            color: lighten($primary, 40%);
        }
    }
}

.task {
    h3 {
        i {
            font-size: 0.8em;
            margin-left: 5px;
        }
    }

    .subtasks {
        //margin-top: 1rem;

        a {
            text-align: left;
        }
    }
}

#NoSearchResult {
    //margin-top: 5rem;
    .query {
        opacity: 0.65;
    }

    img {
        margin-top: 20px;
    }

    .speech-bubble {
        position: absolute;
        margin-left: 160px;
        max-width: 300px;
        //background: $primary;
        background: $gray-500;
        border-radius: 1rem;
        color: $white;
        padding: 1rem;
    }

    .speech-bubble:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 15%;
        width: 0;
        height: 0;
        border: 25px solid transparent;
        //border-top-color: $primary;
        border-top-color: $gray-500;
        border-bottom: 0;
        border-left: 0;
        margin-left: -0px;
        margin-bottom: -25px;
    }
}

.adapters {
    margin-bottom: 1rem;

    h3 {
        i {
            font-size: 0.8em;
            margin-left: 5px;
        }
    }

    .adapter {
        a {
            text-align: left;
        }

        h5 {
            margin-bottom: 0;
        }

        .features {
            margin-bottom: 0.75rem;

            .badge {
                opacity: 0.8;
            }
        }
    }
}

.property-box {
    .row {
        margin: 0;
        padding: 8px 0;
        border-bottom: 2px solid $light;

        &:last-child {
            border-bottom-width: 0;
        }
    }

    .label {
        color: $gray-600;
        @include media-breakpoint-down(sm) {
            margin-bottom: 6px;
        }
    }
}

.collapse-container {
    .collapse-header {
        margin-bottom: 12px;

        button.btn {
            background-color: $light;
            text-align: left;
        }

        button.collapsed i.rotate-icon {
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }
}

.citation-notice {
    font-size: 1rem;
    text-transform: uppercase;
    color: $gray-600;
    text-align: right;
    margin-right: 4px;
}

/* Blog */

.blog-share {
    a {
        display: block;
        background-color: $primary;
        color: white;
        width: 30px;
        height: 30px;
        border-radius: 100%;
        text-align: center;
    }
    a:hover {
        background-color: $dark;
    }
    i {
        vertical-align: middle;
    }
}

.blog-paper {
    text-align: left;
    display: block;
    margin-bottom: 28px;
}

.blog-paper::before {
    font-family: "Font Awesome 5 Free";
    font-size: 28px;
    content: "\f15b";
    float: left;
    margin-right: 12px;
}

.codehilite {
    pre {
        padding: 1rem;
    }
}

.blog-list-bar {
    padding: 0;
    li {
        display: inline-block;
        color: $gray-600;
        padding-right: 16px;
    }
}

.blog-post-bar {
    padding: 0;

    li {
        display: inline-block;
        color: lighten($primary, 40%);
        padding-right: 16px;
    }
    a {
        color: lighten($primary, 40%);
    }
    a:hover {
        color: white;
        text-decoration: none;
    }
}

figure img {
    max-width: 100%;
}

figcaption {
    padding: 8px 0;
    color: $gray-600;
}

.utterances {
    max-width: 100%;
}

.video_wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */
}
iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
